*.dat
*.txt
*.out*
*.err
*.aux
*.log
*.pdf
*.png
*.eps
*.o
*.vtu
*.pvtu
.gdb_history
build*
*~
micropp
ell_solvers
libmicropp.a
result
pics
plot_output.sh
compile_opt.sh
compile_debug.sh
extract_data.py
!scripts/plot_output.sh
!scripts/compile_opt.sh
!scripts/compile_debug.sh
!scripts/extract_data.py
compile_commands.json
scripts/output*

\#*
.#*
*.swp
